*,
*::before,
*::after{
    box-sizing: border-box;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 33px 20px 30%;
    margin-right: auto;
}
.card{
    flex: 0 1 160px;
    position: relative;
    max-width: 45%;
}
.card:not(:nth-of-type(-n+2)){
    margin-top: 50px;
}
.card__inner{
    width: 100%;
    height: 100%;
    background-color: #D9D9D9;
    border-radius: 10px;
}
.card__image{
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 110px;
}
.card__favorite{
    position: absolute;
    top: 6px;
    right: 8px;
}
.card__options{
    max-height: 55px;
    padding: 14px 6.5px 0;
}
.option{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: #0C3010;
    padding-top: 3px;
}
.option2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: #0C3010;
    padding-top: 7px;
}
.card__button{
    width: 75%;
    height: 40px;
    background: #0C3010;
    border: 1px solid #EEDEDE;
    border-radius: 38px;
    color: #FFFFFF;
    font-size: 16px;
    position: relative;
    left: 50%;
    transform: translate(-50%,50%);
}