

.block {
    width: 300px;
    height: 400px;
    background-color: #fff;
}

.img_stars {
    width: 22px;
    height: 22px;
    margin: 0 auto;
}

.texts {
    width: 220px;
    height: 264px;
    margin: 17px 40px 49px;
}

.title {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #000000; 
}

.subtitle {
    width: 49px;
    height: 48px;
    text-align: center;
    margin: 15px 70px 76px;
}


/* mobile */

.mobBLock{
    width: 200px;
    height: 267px;

    background: #FFFFFF;
    border-radius: 10px;
    padding-top: 34px;
    padding-bottom: 34px;
}

.textsT{
    width: 192px;
}