.container{
    width: 1280px;
    margin: 0 auto;
}
ul,li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}
@media(max-width:1200px) {
    .container{
        width: 100%;
    }
}
.isActive{
    color: mediumblue;
}