

.arrows{
  width: 70px;
  height: 70px;
  border-color: #000;
  position: absolute;
  top: 50%;
 
}
.container{
  position: relative;
}

.prev {
  border-bottom: 10px solid;
  border-left: 10px solid;
  transform: rotate(45deg);
  left: 10px;
  position: absolute;
  left: -73px;
  border-radius: 15%;
}
   
.next {
  border-bottom: 13px solid;
  border-left: 13px solid;
  transform: rotate(-135deg);
  border-radius: 15%;
  position: absolute;
  right: -52px;
}
.textP{
  margin-top: 15px;
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  color: #000000;
  text-align: center;
}


.news{
  padding-top: 10%;
}
.cardss{
  padding-top: 10%;
}
.cardd{
  border: 0;
  background: inherit;
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  height: 100%;
  text-align: left;
}
.cardd:first-of-type{
  padding-left: 7%;
}
/* .card + .card{
  margin-left: 50px;
} */
.cardImageM{
  border-radius: 10px;
  width: 200px;
  height: 250px;
}
.cardTextM{
  margin-top: 12px;
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 45px;
  color: #000000;
  width: 100%;
  white-space: nowrap;
}
.FSlideH1{
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
  color: #000000;
  text-align: center;
}
           
.FSnews__title{
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 45px;
  align-items: center;
  color: #0C3010;
  text-align: center;
}