.App {
    text-align: center;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .arrows{
    width: 70px;
    height: 70px;
    border-color: #000;
    position: absolute;
    top: 50%;
   
  }
  .container{
    position: relative;
  }
  
  .prev {
    border-bottom: 10px solid;
    border-left: 10px solid;
    transform: rotate(45deg);
    left: 10px;
    position: absolute;
    left: -73px;
    border-radius: 15%;
  }
     
  .next {
    border-bottom: 13px solid;
    border-left: 13px solid;
    transform: rotate(-135deg);
    border-radius: 15%;
    position: absolute;
    right: -52px;
  }