.App {
  text-align: center;
}




.arrows{
  width: 70px;
  height: 70px;
  border-color: #000;
  position: absolute;
  top: 50%;
 
}
.container{
  position: relative;
}

.prev {
  border-bottom: 10px solid;
  border-left: 10px solid;
  transform: rotate(45deg);
  left: 10px;
  position: absolute;
  left: -73px;
  border-radius: 15%;
}
   
.next {
  border-bottom: 13px solid;
  border-left: 13px solid;
  transform: rotate(-135deg);
  border-radius: 15%;
  position: absolute;
  right: -52px;
}