.container {
  margin: 0 auto;
  width: 1100px;
}

.formLogInPage {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

form h1 {
  /* font-family: "Titillium Web"; */
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 61px;
  color: #0c3010;
  margin-bottom: -10px;
  text-align: center;
}

.forma {
  width: 508px;
  margin: 70px auto;
}

.input_win {
  margin-top: 30px;
}
.input_win h4 {
  /* font-family: "Titillium Web"; */
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #0c3010;
  margin-bottom: 10px;
}

.input_win input {
  width: 505px;
  height: 60px;
  background: #d9d9d9;
  border: none;
  font-size: 18px;
  padding: 0 20px;
  /* outline: invert; */
}

.buttons {
  display: flex;
  justify-content: end;
}

button {
  width: 137px;
  height: 35px;
  background: #0c3010;
  border-radius: 30px;
  margin-top: 35px;
  border: none;
}

.button p {
  /* font-family: "Titillium Web"; */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f6f0f0;
}

button:hover {
  background: #134d1b;
  border: none;
}

.imgForm {
  width: 200px;
  height: 200px;
  float: right;
  margin-top: -375px;
  margin-right: 120px;
}
.imgFormOne,
.imgFormTwo {
  display: none;
}

.LogIn {
  margin-top: 20px;
}
.LogInInner {
  text-align: center;
}
.LogInInner a {
  /* font-family: "Titillium Web"; */
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 49px;
  color: #0c3010;
  margin-bottom: 10px;
  text-decoration: none;
}
.LogInInner h2 {
  /* font-family: "Titillium Web"; */
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 49px;
  color: #0c3010;
  margin-bottom: 10px;
  text-decoration: none;
}
.LogInInner p {
  /* font-family: "Titillium Web"; */
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #0c3010;
  margin-bottom: 10px;
}

.LogInImg img {
  margin-right: 10px;
}

.bottomText p {
  /* font-family: "Titillium Web"; */
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  text-align: center;
  display: none;
}
.aroowLeft {
  display: none;
}
@media (max-width: 420px) {
  .aroowLeft {
    display: block;
  }
  .formLogInPage {
    width: 100vw;
    overflow-x: hidden;
  }
  .bottomText p {
    display: block;
    margin-top: 48px;
    margin-bottom: 150px;
  }
  .LogInInner a {
    font-size: 24px;
    line-height: 37px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .LogInInner h2 {
    /* font-family: "Titillium Web"; */
    font-size: 24px;
    line-height: 37px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .LogInImg img {
    width: 35px;
    height: 35px;
    margin-left: 10px;
  }
  .aroowLeft {
    margin: 10px 10px;
    width: 25px;
    height: 25px;
    text-align: center;
    align-items: center;
  }
  form {
    margin-top: 20px;
  }

  form h1 {
    /* font-family: "Titillium Web"; */
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 37px;
    color: #0c3010;
  }

  .container {
    width: auto;
    margin: 0 auto;
  }
  .forma {
    width: 270px;
    margin: 0 auto;
    overflow: hidden;
  }

  .input_win h4 {
    /* font-family: "Titillium Web"; */
    font-size: 13px;
    line-height: 20px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-bottom: 0;
  }

  .input_win input {
    width: 271px;
    height: 46px;
    background: #d9d9d9;
    padding: 0 15px;
    border-radius: 10px;
    flex: none;
    order: 1;
    flex-grow: 0;
  }
  .buttons {
    display: flex;
    justify-content: center;
  }
  button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
    gap: 10px;
    width: 162px;
    height: 60px;
    border: 1px solid #eedede;
    border-radius: 38px;
  }
  .imgForm {
    width: 110px;
    height: 110px;
    margin-top: -160px;
    margin-right: -50px;
  }
  .imgForm img {
    width: 110px;
    height: 110px;
  }
  .imgFormOne img {
    width: 110px;
    height: 110px;
  }
  .imgFormTwo img {
    width: 110px;
    height: 110px;
  }
  .imgFormOne {
    float: left;
    margin-top: -285px;
    margin-left: -30px;
    display: block;
  }
  .imgFormTwo {
    display: block;
    float: right;
    width: 110px;
    height: 110px;
    margin-top: -700px;
    margin-right: -20px;
  }
}
