.cards{
    display: flex;
    overflow-x: auto;
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 20%;
}
.card{
    flex: 0 0 200px;
}
.card1{
    position: absolute;
    width: 100%;
    height: 100%;
}
.card2{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    height: 100%;
}
.card:first-of-type{
    padding-left: 7%;
}
.card:last-of-type{
    /* left: 60%; */
}
.card + .card{
    margin-left: 50px;
}
.card__inner{
    width:200px;
    height: 100%;
    border-radius: 10px;
}
.card__image{
    width: 200px;
    height: 250px;
}
.card__options{
    margin: 10px 0;
}
.option{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #0C3010;
    margin-top: 3px;
}
.option_end{
    justify-content: end;
}
.card__button{
    width: 145px;
    height: 60px;
    background: #0C3010;
    border: 1px solid #EEDEDE;
    border-radius: 38px;
    color: #FFFFFF;
    font-size: 20px;
}

.cardText{
    font-size: 20px;
    font-weight: 400;
}
.navLink{
    text-decoration: none;
    color: inherit;
}